/* 

Seth Shepherd
Client: Benjamin Pagan --- Team Lead: Seth Shepherd --- Junior Dev 1: Benjamin ... --- Junior Dev 2: 

thought it would be better to have the navigation bar continue to be at the top instead of changing it to the bottom

*/

body {
    background-color: rgb(252, 240, 216);
}

h1 {
    color: orange;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 40px;
    background-color: rgb(252, 240, 216); 
    border-style: solid;
    border-width: 5px;
    border-color: #FFA500;
}

.logo {
    font-size: 1.8rem;
    margin: 0;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
    color: gray;
}


#list1 {
    list-style: none;
    display: flex;
    gap: 30px; 
    color: gray;
    padding: 0;
    margin: 0;
}

#list1 a {
    color: gray;
    font-weight: 600;
}


#logohope {
    background-color: rgb(252, 240, 216);
}

#download{ 
    text-align: center;
    padding-top: 80px;
}

#change{
    font-weight: 600;
    text-align: center;
    color: gray;
}

#info  {
    padding-top: 55px;
    text-align: center;
}

#stores{
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40;
}

p{
    text-align: center;
}